body {
    background-color: #000000;
    color: #f3cf00;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.game {
    background-color: #141414;
    border-radius: 10px;
    padding: 20px;
    width: calc(33.333% - 10px);
    box-shadow: 0 4px 6px rgb(241, 226, 2);
    transition: transform 0.3s;
}

.game:hover {
    transform: translateY(-10px);
}

.game img {
    width: 200px;
}